requests
pandas
numpy

psycopg2-binary

beautifulsoup4
lxml

selenium
webdriver-manager

scikit-learn
xgboost

torch
torchvision
torchaudio

stable-baselines3
gymnasium

matplotlib
seaborn

tqdm

python-dotenv

jupyter
ipykernel